body {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  background-color: #153448;
}
h1,
h2,
h3 {
  color: antiquewhite;
}
main {
  width: 1040px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #153448;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
p {
  margin-top: 2rem;
  font-size: 13px;
}
#combo-chart-container {
  width: 900px;
  height: 300px;
  position: relative;
}

#combo-chart-container::before {
  position: absolute;
  display: block;
  width: 900px;
  height: 300px;
  left: 200;
  top: 254px;
  background: #fafafa;
  box-shadow: 1px 1px 0 0 #ddd;
}
#pie-chart-container {
  width: 500px;
  height: 450px;
  position: relative;
}
#pie-chart-container::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 115px;
  left: 315px;
  top: 0;
  background: linear-gradient(180deg, rgba(148, 137, 121, 1) 0%, rgba(191, 178, 158, 1) 51.499998569488525%, rgba(223, 208, 184, 1) 100%);
  box-shadow: 1px 1px 0 0 #000;
}
#pie-chart-container::after {
  content: "";
  position: absolute;
  display: block;
  left: 70px;
  width: 170px;
  height: 2px;
}

#wdr-component img {
  max-width: 100%;
  height: auto;
  height: initial;
  border: none;
}

img.centered {
  margin: auto !important;
  padding-bottom: 10px;
  color: transparent !important;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
  bottom: 4px;
  left: 6px;
}
