@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #153448;
  /* width: 100%; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/* Hero Start */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #153448;
  background-image: url(../img/—Pngtree—technological\ sense\ geometric\ line\ simple_932581.jpg);
  background-size: cover;
  background-position: center;
  /* transform: scaleX(-1); */
  /* position: relative; */
}

.hero h3 {
  padding-top: 3em;
  padding-left: 2em;
  /* transform: scaleX(-1); */
  font-size: 3rem;
  font-family: Ubuntu;
  color: #DFD0B8;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* padding: 2em; */
  background-image: linear-gradient(
    to right,
    /* rgba(133,0,1,2), */ #153448,
    #153448,
    rgba(1, 129, 214, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.pay-attention {
  position: absolute;
  padding-top: 300px;
  padding-left: 6.3em;
  color: #DFD0B8;
  font-family: Ubuntu;
  font-size: 1rem;
}


.btn-seemore {
  position: absolute;
  padding-top: 380px;
}

.btn-seemore button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  font-family: Ubuntu;
  margin-left: 7em;
  cursor: pointer;
  background: none;
  border: 2px #DFD0B8 solid;
  color: #DFD0B8;
}

.btn-seemore a {
  color: #DFD0B8;
}

button:active {
  transform: scale(1.1);
  transition: ease-in-out 1;
}
button:hover {
  color: #153448;
  background-color: #DFD0B8;
  transition: ease-in-out .3s;
}
/* Hero End */

/* About Start */
.about-container {
  width: 80%;
  height: 280px;
  background-color: #DFD0B8;
  color: #153448;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: -5% auto 20px auto;
  padding: 30px 50px;
  position: relative;
}

.about-container .what-is-superstore-giant {
  text-align: justify;
}
.about-container .what-is-superstore-giant h3 {
  font-family: Ubuntu;
} 
.about-container .what-is-superstore-giant p {
  font-family: "Kanit", sans-serif;
}

.about-container .why-we-created-this-website {
  padding-top: 15px;
  text-align: justify;
}
.about-container .why-we-created-this-website h3 {
  font-family: Ubuntu;
}
.about-container .why-we-created-this-website p {
  font-family: "Kanit", sans-serif;
}

/* About End */


  
