
/* Navbar Start */
.logo img {
  height: 50px;
  padding-left: 30px;
  float: left;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 5%;
  background-color: #DFD0B8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 20;
  position: fixed;
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li #active {
  position: relative;
  margin: 30px 20px;
  color: #153448;
  font-family: Ubuntu;
  /* border-radius: 10px; */
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

li #active::after {
  content: "";
  background: #153448;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  border-radius: 8px;
  transition: width 0.5s;
}

li #active:hover::after {
  width: 100%;
  background-color: #153448;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #153448;
  border-radius: 20px;
}


/* Navbar End */
