@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}


a {
  text-decoration: none;
}

.pembayaran-du {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: #FFF6C3;
  /* text-align: center; */
}

.pembayaran-du .jdl-pembayaran-du {
  text-align: center;
  font-size: 1.3em;
}
.pembayaran-du .info-pembayaran-du {
  text-align: center;
  padding: 10px 300px;
  font-weight: 300;
}

/* Card Start */
.card-pembayaran-du {
  display: flex;
  justify-content: center;
}

.jdl-pendaftaran-card {
  padding-top: 20px;
  font-size: 1.2em;
  font-weight: 400;
}
.harga-pendaftaran {
  /* padding-top: 10px; */
  font-size: 1.9em;
  font-weight: 400;
  padding-top: 10px;
  color: #850001;
}
.list-ketentuan {
  /* padding-top: 10px; */
  font-size: 1em;
  font-weight: 300;
  color: #090909;
}
.list-ketentuan ul {
  list-style: square;
  padding: 10px 20px;
  text-align: justify;
}

.btn-pembayaran button {
  width:230px;
  height: 42px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background: #FFDA89;
  margin-top: 5px;
  border: 2px #ffda89 solid;
  color: #252525;
}
.btn-pembayaran button:active {
  transform: scale(1.1);
  transition: ease-in-out .3s;
}
.btn-pembayaran button:hover {
  color: #FFDA89;
  border: 2px #ffda89 solid;
  transition: ease-in-out .2s;
  background: none;
}

/* Card Pendaftaran */
.card-pendaftaran {
  background-color: #F9F9F9;
  width: 290px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  transition: transform 0.2s;
}


/* Card DU */
.card-du {
  background-color: #F9F9F9;
  width: 290px;
  height: 420px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  transition: transform 0.2s;
}

.card-info {
  background-color: #F9F9F9;
  width: 270px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  transition: transform 0.2s;
}

.card-info .desc-du {
  font-size: .9em;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
/* Card End */

/* Narahubung Start */
.narahubung {
  height: 50vh;
}
.narahubung .jdl-narahubung {
  text-align: center;
  font-size: 1.3em;
  margin-top: 50px;
}

.card-narahubung {
  display: flex;
  justify-content: space-around;
  margin: 20px 190px;
}
.card-narahubung-wa:hover {
  transform: scale(1.1);
}
.card-narahubung-wa {
  background-color: #F9F9F9;
  color: #090909;
  width: 300px;
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}

.hubungi-saya {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.hubungi-saya img {
  height: 20px;
  padding-right: 10px;
}
/* Narahubung End */